.card-style{
    border: none;
    text-decoration: none;
}
.service{
    text-decoration: none;
    color:black;
}
.service:hover{
    text-decoration: none;
    color:black;
}
.card-style:hover{
    box-shadow: 0px 0px 10px rgb(155, 155, 155);
    text-decoration: none;
    color:black;
}